/* Add margin to body */
body {
    margin: 20px;
}

#log_id {
    width: 80%;
    height: 300px;
    overflow: auto;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #d3d3d3;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
}